node_modules
.docusaurus
build
.cache
.next
.nuxt
.vuepress
.github
.gitlab
.git
*.log
*.md
*.mdx
yarn.lock
package-lock.json
*.min.js
*.min.css
coverage
dist
lib
es
.DS_Store
.vscode
.idea
.nyc_output
.vercel
.env
.env.local
.env.production
.env.development
public
static
docs/api
openapi
changelog 