.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom right, #ffffff, #6e74ec);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}